# Languages
nodejs 18.6.0
yarn 1.22.19
golang 1.21.5
python 3.9.13

# Tools
mockery 2.22.1
golangci-lint 1.55.0
actionlint 1.6.12
shellcheck 0.8.0
scarb 2.6.5
postgres 15.1

# Kubernetes
k3d 5.4.4
kubectl 1.25.5
k9s 0.26.3
helm 3.9.3
helmenv 1.2.7
