# This is a an example .env file that contains pre-deployed and pre-funded account that come with starknet-devnet
# To see a complete list of pre-deployed starknet-devnet accounts just run `starknet-devnet`

# hypothetical devnet account
DEPLOYER_ACCOUNT_ADDRESS=<DEVNET_ACCOUNT_ADDRESS>
DEPLOYER_PRIVATE_KEY=<DEVNET_ACCOUNT_PRIVATE_KEY>

# Below is what you'd set to run these examples on GOERLI 
# DEPLOYER_ACCOUNT_ADDRESS=<GOERLI_ACCOUNT_ADDRESS>
# DEPLOYER_PRIVATE_KEY=<GOERLI_ACCOUNT_PRIVATE_KEY>
# NETWORK=GOERLI
