name: Changesets

on:
  push:
    branches:
      - main

jobs:
  changesets:
    name: Changesets
    runs-on: ubuntu-latest
    steps:
      # Checkout this repository
      - name: Checkout Repo
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      # Install nix
      - name: Install Nix
        uses: cachix/install-nix-action@5c11eae19dba042788936d4f1c9685fdd814ac49 # v19
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      # Install dependencies using yarn
      - name: Install Dependencies
        run: nix develop -c yarn install --frozen-lockfile
      # Create PR that will update versions or trigger publish
      - name: Create Release Pull Request
        uses: changesets/action@2a025e8ab1cfa4312c2868cb6aa3cd3b473b84bf # v1.3.0
        id: changesets
        with:
          publish: nix develop -c yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      # Dispatch Relayer release
      - name: Release relayer
        run: gh workflow run .github/workflows/release/starknet-relayer.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # Dispatch Gauntlet CLI build & release
      - name: Build and release Gauntlet CLI
        run: gh workflow run .github/workflows/release/starknet-gauntlet-cli.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
