name: gauntlet

on:
  push:

jobs:
  gauntlet_build:
    name: Gauntlet Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f25a3a9f25bd5f4c5d77189cab02ff357b5aedeb # v2.4.1
      - uses: smartcontractkit/tool-versions-to-env-action@v1.0.7
        id: tool-versions
      - name: Setup Node ${{ steps.tool-versions.outputs.nodejs_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.tool-versions.outputs.nodejs_version }}
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Run Gauntlet
        run: yarn gauntlet

  gauntlet_format:
    name: Gauntlet Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f25a3a9f25bd5f4c5d77189cab02ff357b5aedeb # v2.4.1
      - uses: smartcontractkit/tool-versions-to-env-action@v1.0.7
        id: tool-versions
      - name: Setup Node ${{ steps.tool-versions.outputs.nodejs_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.tool-versions.outputs.nodejs_version }}
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn lint:format

  gauntlet_run_tests:
    name: Gauntlet Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f25a3a9f25bd5f4c5d77189cab02ff357b5aedeb # v2.4.1
      - uses: smartcontractkit/tool-versions-to-env-action@v1.0.7
        id: tool-versions
      - name: Setup Node ${{ steps.tool-versions.outputs.nodejs_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.tool-versions.outputs.nodejs_version }}
      - name: Install
        run: yarn install --frozen-lockfile
      - name: test:ci
        run: yarn test:ci
