name: Relayer

on:
  push:
    branches:
      - develop
      - main
  pull_request:

jobs:
  relayer_run_unit_tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - name: Install Nix
        uses: cachix/install-nix-action@29bd9290ef037a3ecbdafe83cbd2185e9dd0fa0a # v20
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build
        run: nix develop -c make build-go-relayer

      - name: Unit Test
        run: nix develop -c make test-unit-go
      
      - name: Integration Test
        run: nix develop -c make test-integration-go
